body {
	background: rgb(15, 44, 44);
	color: rgb(231, 0, 0);
}

.movie-wrap {
	display: flex;
	/* justify-content: center; */
	flex-direction: row;
	/* overflow: scroll; */
	overflow-x: scroll;
	/* scrollbar-width: none; */
	flex-wrap: nowrap;
	/* -ms-overflow-style: none; */
}
.header-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.movie-wrap::-webkit-scrollbar {
	/* display: none; */
	/* width: 12px; */
}

.movie-wrap::-webkit-scrollbar {
	width: 12px;
}

/* Track */
.movie-wrap::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
.movie-wrap::-webkit-scrollbar-thumb {
	background: rgb(221, 19, 19);
	border-radius: 10px;
}

/* Handle on hover */
.movie-wrap::-webkit-scrollbar-thumb:hover {
	background: #640a0a;
}

.movie-container {
	/* width: 300px; */
	/* height: 500px; */
	background-color: white;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
}
.image-container {
	position: relative;
	transition: transform 0.3s;
	/* width: 400px; */
	/* height: 600px; */
}
.image-container:hover {
	cursor: pointer;
	transform: scale(1.05);
}
.image-container:hover .overlay {
	opacity: 1;
}
.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.9);
	width: 100%;
	/* height: 100%; */
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 18px;
	padding: 20px;
	text-align: center;
}
/* .FavoritesAdd {
	width: 400px;
} */
